<div id="<%= dom_id job_application %>">
  <p>
    <strong>User:</strong>
    <%= job_application.user_id %>
  </p>

  <p>
    <strong>Job listing:</strong>
    <%= job_application.job_listing_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= job_application.status %>
  </p>

  <p>
    <strong>Cover letter:</strong>
    <%= job_application.cover_letter %>
  </p>

</div>
