<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<div>
  <%= form_with model: Post.new do |form| %>
    <%= form.text_area :body %>
    <%= form.submit "Submit" %>
  <% end %>
</div>

<div id="posts">
  <% @posts.reverse.each do |post| %>
    <%= render post %>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
