<div id="<%= dom_id education %>">
  <p>
    <strong>User:</strong>
    <%= education.user_id %>
  </p>

  <p>
    <strong>School:</strong>
    <%= education.school %>
  </p>

  <p>
    <strong>Degree:</strong>
    <%= education.degree %>
  </p>

  <p>
    <strong>Field of study:</strong>
    <%= education.field_of_study %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= education.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= education.end_date %>
  </p>

</div>
