<header class="flex sticky top-0 justify-between items-center w-full p-5 bg-white" data-controller="header">
    <a href="/">
        <img src="https://placehold.co/120x40" alt="logo" />
    </a>
    <ul class="gap-4 md:flex hidden">
        <%= render "layouts/header_link", route: root_path, title: "Home" %>
        <% if current_user.present? %>
            <%= render "layouts/header_link", route: user_path(current_user.username), title: "Profile" %>
        <% end %>
        <%= render "layouts/header_link", route: posts_path, title: "Posts" %>
        <%= render "layouts/header_link", route: job_listings_path, title: "Job listings" %>
    </ul>
    
    <div data-controller="dialog" class="md:hidden">
        <sl-drawer label="Drawer" data-dialog-target="dialog">
            <ul class="flex flex-col gap-4">
                <%= render "layouts/header_link", route: root_path, title: "Home" %>
                <% if current_user.present? %>
                    <%= render "layouts/header_link", route: user_path(current_user.username), title: "Profile" %>
                <% end %>
                <%= render "layouts/header_link", route: posts_path, title: "Posts" %>
                <%= render "layouts/header_link", route: job_listings_path, title: "Job listings" %>
            </ul>
        </sl-drawer>
        <sl-button data-action="click->dialog#show">Open Drawer</sl-button>
    </div>
</header>