<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Emprego Facil" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <%# Turbo Morph is bugging out the lucide icons, they don't show up on morph page reload %>
    <%# Anyways, for now I'm using turbo_frame_tag to reload the like button and the comment form %>
    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">

    <%# Shoelace %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.17.0/cdn/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.17.0/cdn/shoelace-autoloader.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-gray-100">
    <%= render "layouts/header" %>

    <p style="color: green"><%= notice %></p>
    <p style="color: red"><%= alert %></p>
    <div class="container mx-auto px-4 py-8"><%= yield %></div>
  </body>
</html>
